@model HotBooks.Models.Room

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Room</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HotelId" class="control-label"></label>
                <select asp-for="HotelId" class="form-control" asp-items="ViewBag.HotelId"></select>
                <span asp-validation-for="HotelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNo" class="control-label">Room Number</label>
                <input asp-for="RoomNo" class="form-control" placeholder="Edit Room Number" />
                <span asp-validation-for="RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfBed" class="control-label">Number of Beds</label>
                <input asp-for="NoOfBed" class="form-control" placeholder="Edit Number of Beds" />
                <span asp-validation-for="NoOfBed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="Edit Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutRoom" class="control-label">Details</label>
                <textarea asp-for="AboutRoom" class="form-control" placeholder="Edit Room details" ></textarea>
                <span asp-validation-for="AboutRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                @if (Model.Image != null )
                {
                       <img src="~/img/room-uploads/@Model.Image" alt="Room Image" class="thumb" />
                }
                <input name="Image" id="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="hidden" name="CurrentImage" id="CurrentImage" value="@Model.Image" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
