@model IEnumerable<HotBooks.Models.Hotel>

@{
    ViewData["Title"] = "Book your Hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Book your Hotel</h1>

<section class="row card-group">
    @foreach (var c in Model)
    {<!--css from https://getbootstrap.com/docs/4.0/components/card/-->
        <div class="card" style="width: 18rem;">
            @if (c.Image != null)
            {
                <img class="card-img-top" src="~/img/hotel-uploads/@c.Image" alt="Hotel Image">}
            else
            {<img class="card-img-top" src="~/img/hotel-uploads/placeholder.jpg" alt="Placeholder Image">}
            <div class="card-body">
                <h5 class="card-title"><b>@c.Name</b></h5>
                <p class="card-text"><b>Address</b> : @c.Address</p>
                <p class="card-text">@String.Format("{0:c}", c.Discription)</p>
                <a class="btn btn-primary" asp-controller="Book" asp-action="ShowRooms" asp-route-id="@c.Id">Show Rooms</a>
            </div>
        </div>

       

    }


</section>
